.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    width: 100%;
    margin-top: 30px;
    color: #fff;
    font-size: 40px;
}

.navbar {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    background-color: #444;
    width: 150px;
    border-radius: 4px;
    top: 60px;
    left: 10px;
  }
  
  .menu.open {
    display: flex;
  }

  .menu li button {
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
  }
  .menu li a {
    color: white;
    text-decoration: none;
  }
  
  .menu li a:hover {
    background-color: #555;
  }
  
  /* Dropdown Styles */
  .dropdown {
    position: relative;
  }
  
  .dropdown-menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #555;
    border-radius: 4px;
    overflow: hidden;
  }
  
  .dropdown-menu.open {
    display: block;
  }
  
  .dropdown-menu li a {
    color: white;
    padding: 10px;
    display: block;
  }
  
  .dropdown-menu li a:hover {
    background-color: #666;
  }
  
  /* Menu Icon */
  .menu-icon {
    font-size: 24px;
    cursor: pointer;
    display: block;
    color: white;
  }